:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "nav"
    "main"
    "content1"
    "footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #004d40;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #004d40;
}

nav {
  background: #17dbad;
  grid-area: nav;
  position: relative;
  min-height: 10vh;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
nav > h1{
  margin: 0.2rem auto 1rem 1rem;
  text-align: center;
  position:relative;
}


/*HOME BUTTON*/
.btn-donate {
  background: #97c83e;
  text-align: center;
  width: 6vw;
  height: 6vh;
  border-radius: 100%;
  font-size: 1.4rem;
  overflow:hidden;
  color: rgb(228, 243, 23);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgb(15, 19, 7);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  
  vertical-align: middle;
  
  
}
a.btn.btn-donate span {
  display: inline-block;
  vertical-align: middle;
}
a.btn.btn-donate:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
nav > a:hover{
  border-color: rgb(181, 184, 24);
}

nav > a:active{
  border-color: rgb(39, 134, 15);
  padding: 0.1rem;
  transition: 0.5ms;
 
} 
/* 
nav > a{
  display: inline-block;
  position: absolute;
  border-radius: 100%;

  left: 1rem;
  bottom: 1px;
  top: 1px;
  height: auto;
  width: auto;
  text-align: center;

  border: 2px solid rgb(15, 19, 7);
  font-style: oblique;
}
nav > a:hover{
  border-color: rgb(181, 184, 24);
}

nav > a:active{
  border-color: rgb(39, 134, 15);
  position: relative;
  padding: 0.8rem;
  transition: 0.5ms;
 
}  */
/* 
HOME-BUTTON-END
*/

main {
  background: #84ffff;
  grid-area: main;
  position: relative;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main >img{
  height: 30vh;
  position: absolute;
  bottom: 0px;
  left: 1rem
}


/*Text-Area*/
input,
span,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;    
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}

input.question,
textarea.question {
  font-size: 4rem;
  font-weight: 300;
  border-radius: 1.5rem;
  margin: 10;
  display: block;
  position: relative;
  left: 7vw;
  border: 1px solid black;
  width: 80%;
  height: 30vh;
  background: rgba(12, 180, 110, 0.3);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input{
  font-size: 2rem;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  color:rgb(0, 0, 0);
  margin-bottom: 10px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(66,154,218,1) 23%, rgba(65,143,224,1) 31%, rgba(70,252,164,1) 100%);  
  border-radius: 1rem;
} 
a, input:hover{
  border-color: #ff0000;
}
a, input:active{
  border-color: green;
  color:greenyellow;
}
/* 
#sidebar {  
  display: grid;
  background: #17dbad;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* #sidebar > ul{
  overflow:scroll;
  
} */
/* 
#sidebar > ul > li{
  padding: 1rem;
  margin: 2rem;
  width: 10vw;
  background-color: #a7ffeb;
  border-radius: 1rem;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(66,154,218,1) 23%, rgba(65,143,224,1) 31%, rgba(70,252,164,1) 100%);  

} */

/*RESULTING ASCII CONTAINER*/
#content1 {
  background: #84ffff;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

}
/* RESULTING ASCII*/
.result{
  background-color: rgba(12, 180, 110, 0.3);
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid black;
  word-break: break-all;
  overflow: auto;
  max-width: 100vw;
  margin: 1vh 1vw 1vh 1vw;
  max-height: 30vh;
  min-height: 30vh;
  text-align: left;
}


footer {
  background: #17dbad;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  min-height: 10vh;
}
/* 
a {
  text-align: center;
  
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
} */
fieldset{
  border-color: #e49329;
  border-radius: var(--main-radius);
}
/* RADIO BUTTONS*/
ul > li{
  display: inline-block;
}
.donate-now {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #004d40;
}

.donate-now li {
  margin: 0 10vw 2rem 3vw;
  height: 40px;
  position: relative;
}

.donate-now label,
.donate-now input {
  border-radius: var(--main-radius);
  
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: rgb(250, 236, 48);
}

.donate-now label {
  padding: 1rem 3rem;
  background-color: #4ca0a0;
  border: 1px solid rgb(200, 255, 2);
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #DDD;
  
}

/*RADIO-BUTTONS-END*/


/*MEDIA*/
@media only screen and (max-width: 900px) {
  html{
    font-size: 40%;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.6fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "footer";
  }
  
  .result{/* display: block;
    font-family: inherit; */
    max-height: 90vh;
  max-width: 90vw;
  }
  nav {
    text-align: center;
  }
  .donate-now li{
    display: block;
    margin: 0;
  }
  ul > li{
    display: block;
    margin: 0;
  }
  .donate-now label,
  .donate-now input {
    border-radius: var(--main-radius);
    display: block;
    margin:0;
  }

  .donate-now input[type="radio"] {
  display: none;
  }

  .donate-now label {
    margin-bottom: 2rem;
  height:auto;
  padding: auto;
    /* height: 75%; */
    
  }
}


.clearfix::after{
  content:" ";
  clear:both;
  display:table;
}