<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <h1>ASCII-Art</h1>
          <a href="/" class="btn btn-donate">Home</a>
        </nav>
        
        <main>
            <h1>Regular text</h1>
            <form method="post" action="/ascii">
                <textarea name="message" placeholder="Type your text" rows="5" class="question" id="msg" required autocomplete="off"></textarea>
                <!--<label for="msg"><span>What's your message?</span></label> -->
                <input type="submit" value="Submit!" >  
                <fieldset>
                  <ul class="donate-now">
                    <li>
                      <input type="radio" id="a25" name="banner" value="shadow" />
                      <label for="a25">SHADOW</label>
                    </li>
                    <li>
                      <input type="radio" id="a50" name="banner" value="standard" checked="checked"/>
                      <label for="a50">STANDARD</label>
                    </li>
                    <li>
                      <input type="radio" id="a75" name="banner" value="thinkertoy"/>
                      <label for="a75">THINKERTOY</label>
                    </li>
                  </ul>
                </fieldset>            
            </form>
        </main>
        
        <div id="content1">
            
              <pre class="result">{{.}}</pre>  
  
        </div>
        
        <footer>Footer</footer>
      </div>

</body>
</html>