<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <h1>Home Page</h1>
            <a href="/" class="btn btn-donate">Home</a>
        </nav>
        
        <main>
            <div class="task"></div>
        </main>
        
        
        <div id="content1">
            <h1>Ascii-ART</h1>
            <div class="result">
            </div>
        </div>
        
        <footer>Footer</footer>
      </div>

</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

<h1>Nice input box</h1>
<form>
  <textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
  <label for="msg"><span>What's your message?</span></label>
  <button> <a href="/ascii"></a> <input type="submit" value="Submit!" /></a> </button>

</form>

</body>
</html>
-->