<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <h1>TO-DO</h1>
           <!-- <a href="/" class="btn btn-donate">Home</a> -->
        </nav>
        
        <main>
            <h1>New Task</h1>
                <form id="new-task-form">
                    <input 
                        type="text" 
                        name="new-task-input" 
                        id="new-task-input" 
                        placeholder="What do you have planned?" />
                    <input 
                        type="submit"
                        id="new-task-submit" 
                        value="Add task" />
                </form>


        </main>
        
        <div class="doneTasks">
            <h1 id="doneHeader">Done Tasks</h1>
            <div id="doneContainer" >
                
                <h3 class="doneInput">
asdasd
                </h3>
                <h3 class="doneInput">
                    asdasd
                                    </h3>
                                    <h3 class="doneInput">
                                        asdasd
                                                        </h3>
                <img src="assets/pika.png" alt="pikachu">

            </div>
        </div>
        
        <div id="content1">
            <h1 id="sticky-header">Tasks</h1>
            <section class="task-list">
                
                
                <div id="tasks">
     
                <!--<div class="task">
                        <div class="content">
                            <input 
                                type="text" 
                                class="text" 
                                value="A new task"
                                readonly>
                        </div>
                        <div class="actions">
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
        
        <footer>Useless Footer©</footer>
      </div>
      <script src="assets/main.js"></script>
</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

<h1>Nice input box</h1>
<form>
  <textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
  <label for="msg"><span>What's your message?</span></label>
  <button> <a href="/ascii"></a> <input type="submit" value="Submit!" /></a> </button>

</form>

</body>
</html>
-->