<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <h1>ERROR Page</h1>
          <!-- <a href="/">Home</a> -->
          <a href="/" class="btn btn-donate">Home</a>
        </nav>
        
        <main>
            <img src="css/pika.png" alt="pikachu"></img>

        </main>
        
        <div id="content1">
            
              <pre class="result" style="font-size: 5rem;">{{.}}</pre>  
  
        </div>
        
        <footer>Footer</footer>
      </div>

</body>
</html>